###########################################
################## GCP ####################
###########################################

gcp_credentials = "../credentials/keyfile.json"
gcp_project = "<YOUR_GCP_PROJECT>"
